/* h1{
    /* background-image: url(library.jpeg);
    background-size: cover;
    background-position:center ;
    background-repeat:none;
    
    height: 100%;
    text-align: center; */
    /* border-style: double;
    border-width: 2px;
    border-color: black;
    border-radius: 10%;

    text-align: center;
    cursor: pointer;
    font-family: cursive;


    background:red;
    height: 500px;
    width: 50%;
    min-width: 300px;

}    */
/* .sai{
    line-height: 30px;
    font-size: 40px;
    font-style: italic;
    font-family: cursive;
} */ 
/* ul{
    list-style: none;
    list-style: square;
} */

   
/* input{
    outline-color: red;
} */

*{
    margin: 0;
    padding: 0;

}
/*  */
p{
    font-size: 40px;
    text-align: center;

}
p :hover
{
    color: brown;
}